<ion-content class="ion-padding">
  <ion-modal [isOpen]="isOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Cancel</ion-button>
          </ion-buttons>
          <ion-title class="a2k-modal-header-title">Prayer</ion-title>
          <ion-buttons slot="end">
            <ion-button *ngIf="isEditMode" (click)="onSavePrayer()">{{
              !prayer ? "Add" : "Update"
            }}</ion-button>
            <ion-button *ngIf="!isEditMode" (click)="isEditMode = !isEditMode"
              >Edit</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ng-container *ngIf="isEditMode; else viewModeRef">
          <form [formGroup]="prayerForm">
            <ion-item>
              <ion-label position="stacked" class="a2k-prayer-title"
                ><span class="a-input">Title</span></ion-label
              >
              <ion-input
                id="title"
                name="title"
                formControlName="title"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="a2k-prayer-title"
                ><span class="a2k-input">For</span></ion-label
              >
              <ion-input
                name="for"
                id="for"
                placeholder="Who is this prayer for?"
                formControlName="prayerFor"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" class="a2k-prayer-title"
                ><span class="a2k-input">Description</span></ion-label
              >
              <ion-textarea
                id="description"
                name="description"
                formControlName="detail"
                [autoGrow]="true"
                rows="10"
                placeholder="write a description for your prayer here"
              ></ion-textarea>
            </ion-item>
          </form>
        </ng-container>
        <ng-template #viewModeRef>
          <h1 class="a2k-modal-body-title">{{ prayer.title }}</h1>
          <h2 class="a2k-modal-author">Author: {{ prayer.author }}</h2>
          <p class="a2k-modal-details">
            {{ prayer.detail }}
          </p>
          <app-comment-box></app-comment-box>
        </ng-template>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
